{% extends "RiceDeckKeeperBundle::layout.html.twig" %}

{% block content %}
    <div id="templatemo_main">

        <div class="col_w620 float_l">

            {% for card in cards %}

                <div class="post_box">
                    <div class="post_header">
                        <a href="{{ path('frontend_deck_keeper_card', {slug: card.slug}) }}"><h2>{{ card }}</h2></a>
                    </div>
                    <a href="#"><img src="images/templatemo_image_06.jpg" alt="Image"/></a>
                    <p>{{ card.description }}</p>
                    <p><strong>{{ card.artisticdescription }}</strong></p>
                    <div class="cleaner"></div>
                </div>

            {% endfor %}

        </div>

        {% include "RiceDeckKeeperBundle::sidebar.html.twig" %}

        <div class="cleaner"></div>
    </div>
{% endblock content %}
