{% extends "RiceDeckKeeperBundle::layout.html.twig" %}

{% block content %}
    <div id="templatemo_main">

        <div class="col_w620 float_l">

            {% for set in sets %}

                <div class="post_box">
                    <div class="post_header">
                        <a href="/"><h2>{{ set }}</h2></a>
                    </div>
                    <p>Year: <strong>{{ set.year }}</strong></p>
                    <p>Cards count: <strong>{{ set.cards.count }}</strong></p>
                    <div class="cleaner"></div>
                </div>

            {% endfor %}

        </div>

        <div class="col_w300 float_r">
            <h3>Categories</h3>
            <ul class="tmo_list">
                <li>Cards</li>
                <li>Sets</li>
            </ul>
            <div class="cleaner h30"></div>

        </div>

        <div class="cleaner"></div>
    </div>
{% endblock content %}
